form {
    input,
    label {
        display: block;
    }
    label {
        &:has([type="checkbox"]) {
            display: flex;
            gap: rem(5px, $bpContext);
            margin-bottom: $baseGap;
            a {
                display: inline-block;
            }
        }
    }
    input, textarea {
        &:not([type="checkbox"], [type="submit"]) {
            width: 100%;
            padding: .5rem;
            margin-bottom: $baseGap;
        }
        border: 2px solid $primary;
    }
    textarea {
        min-height: rem(70px, $bpContext);
    }
    input, textarea {
        &.error {
            border: 2px solid $warn;
        }
    }
    label {
        &:has(input[required].error) {
            color: $warn;
        }
    }
}